@import "tailwindcss";

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
}

@theme inline {
  --font-playwrite-us-trad-mono: var(--font-playwrite-us-trad-mono);
  --font-raleway-mono: var(--font-raleway-mono);

}

body {
  font-family:
          var(--font-raleway-mono),
  var(--font-playwrite-us-trad-mono),
  Arial, Helvetica, sans-serif;

}
