@import "tailwindcss";

@theme inline {
  --font-playwrite-us-trad-mono: var(--font-playwrite-us-trad-mono);
  --font-raleway-mono: var(--font-raleway-mono);
  --color-brand-200: #9100EB;
}

html, body {
  @apply font-raleway-mono scroll-smooth
}

@layer components {
  .text-brand{
    @apply font-playwrite-us-trad-mono text-brand-200
  }
}